name: Build APK

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    # Step 1: Checkout your repo
    - uses: actions/checkout@v3

    # Step 2: Set up Java 25
    - name: Set up JDK 25
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 25

    # Step 3: Build APK using Gradle wrapper
    - name: Build APK
      run: |
        sudo apt-get install -y unzip
        chmod +x ./android_draft/gradlew
        ./android_draft/gradlew assembleDebug --stacktrace
